@charset "utf-8";

/* px指定 */
.box {
  height: 100px;
  background: skyblue;
}

/* vh指定 */
.message {
	height: 100vh;
	background: teal;
	color: white;
	text-align: center;
	font-size: 50px;
    line-height: 100vh;
}

body {
    margin: 0;
}